.container {
  margin: 2em auto;
  max-width: 1200px;
  ul.projects {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 25px;
    li {
      overflow: hidden;
      border-radius: 25px;
      box-shadow: 5px 10px 30px rgba(0,0,0,.12);
      a {
        display: block;
        text-decoration: none;
        color: #555;
        font-family: sans-serif;
        &:hover {
          color: cornflowerblue;
        }
        h3 {
          margin: 0;
          padding: 1.5em 2em;
        }
        .imgBox {
          height: 400px;
          overflow: hidden;
          text-align: center;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }
}